    /*HEADER*/
body {
    background-color: #EFEDE7;}

.header_gral {
    background-image: url(./media/celular.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 475px;}

.logo {
    height: 30%;
    margin-top: 10%;}

.titulo_header {
    font-family: special elite;
    font-size: 15px;
    font-weight: bold;}

.subtitulo_header {
    font-family: caveat;
    font-size:x-large;}

    /*CARROUSEL*/
.carrousel_gral {
    height: 50px;}

    /*OPCIONES*/

.container_opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.img_opciones {
    width:30%;}

.text_opciones {
    font-family: special elite;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    width: 55%;}

    /*DESCRIPCION*/

.cont_descrip {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 400px;}

.descrip_1 {
    justify-content:center;}

.descrip_2 {
    background-image: url(./media/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:160%;}

.text_descrip {
    font-family: special elite;
    font-size:22px;
    font-weight: bold;
    text-align: center;
    width: 80%;}

.img_descrip{
    height: 100%;}

.img_descrip_icon {
    height: 100%;}

.boton_modal {
    border: none;
    width:30%;
    height: 20%;
    background-color:transparent;}

.boton_modal_color {
    background-color: lightpink;
    border: none;}

    /*DISEÑOS*/
.diseno_gral{
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.disenos_cont {
    height: 95%;
    width: 70%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size:cover;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;}

.card-title {
    font-family: caveat;
    font-size: xx-large;}

.dis_1 {
    background-image: url(./media/cas.png);}

.dis_2 {
    background-image: url(./media/quin.png);}

.dis_3 {
    background-image: url(./media/gradu2.png);}

    .disenos_cont:hover{
        filter: grayscale(95%);
        transition: 2s;
        height: 100%;
        width: 100%;}

    /*PRECIO*/
.cont_precio {
    height: 200px;
    width: 90%;}

.img_precio {
    background-image: url(./media/precio2.png);
    background-size: contain;}

.base {
    background-color: lightseagreen;}
    

.combo {
    background-color: gainsboro;}


    /*FOOTER*/

.section_footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.sec_foot {
    font-size: x-small;
    text-align: start;
    padding-top: 20px;}

.logo_footer{
    height:95px;}

.icon_footer {
    height: 30px;}
    
    .mail_footer:link {
        text-decoration: none;
        color: black;}
    .mail_footer:visited {
        text-decoration: none;
        color: black;}
    .section_footer a:link {
        text-decoration: none;
        color: black;}
    .section_footer a:visited {
        text-decoration: none;
        color: black;}
    
 
    /*MEDIA QUERY*/
@media (min-width:768px) and (max-width:1024px) { 
        .text_descrip{
            width: 90%;}
        .descrip_2 {
            background-size:129%;}}
    
@media (min-width:1024px) {
        .cont_descrip {
            height:450px;}
        .text_descrip {
           margin-top:55px;}}

@media (min-width:768px) {
    .descrip_1 {
        justify-content: center;}
    .card_propio {
        width: 100%;}
    .sec_foot {
        padding-top: 20px;}
    .diseno_gral{
        flex-direction: row;
        height: 300px;}
    .disenos_cont {
        height: 95%;
        width: 30%;}
        .disenos_cont:hover{
            height: 100%;
            width: 32%;
        }}