.portada {
    background-image: url(../media/portadacasamientocelu.png);
    background-position: center;
    background-size:200%;
    background-color: aqua;
    height: 90em;
    background-repeat: no-repeat;}

    